<html>
     <head>
          <title>Login</title>
     </head>
     <body>
          <h3>Login Here!</h3>
          <form action="/accounts/login/" method="POST">{% csrf_token %}
               <input type="text" name="username" placeholder="Username"/><br>
               <input type="password" name="password" placeholder="Password"/><br>
               <input type="submit"/>
          </form>
     
     </body>
     <div>
          {% for message in messages %}
          <h4>{{ message }}</h4>
          {% endfor %}
     </div>

</html>